@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    cursor:default;
}

main {
    margin-left: 48px;
}

.sidebar {
    background-color: #836DFF;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    
    padding: 20px 15px; 
    display: flex;
    flex-direction: column;

    border-radius: 0 32px 32px 0;
    
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    white-space: nowrap;
    overflow: hidden;
}

.expand-text {
    opacity: 0;
    visibility: hidden;
    max-width: 0;
    display: inline-block;
    transition: all 0.3s ease;
}

.sidebar:hover {
    padding-right: 30px;
}

.sidebar:hover .expand-text {
    opacity: 1;
    visibility: visible;
    max-width: 300px;
    margin-left: 10px;
}

.icon, .avatar {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    justify-content: start;
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    flex: 1; 
}