{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Photo Fun{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    {% block extra_head %}{% endblock %}
</head>
<body>

    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Головна</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Профіль</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Увійти</a></li>
                    <li><a href="{% url 'register' %}">Реєстрація</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>