form .helptext, 
form ul + span,
form .form-text { 
    display: none !important; 
}

label {
    display: none;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main > * {
    flex: 1;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    background-color: #B5A8FF;
}

.title {
    font-size: 64px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    width: 440px;
}

.form-title {
    font-size: 64px;
}

p {
    width: 100%;
}

input {
    outline: none;
    border: 1px solid #858585;
    border-radius: 8px;
    padding: 12px 14px;
    width: 100%;
}

.submit-btn {
    align-self: center;
    width: 180px;
    background-color: #B5A8FF;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    outline: none;
    border-radius: 24px;
    border: none;

    transition-duration: 200ms;

    cursor: pointer;
}

.submit-btn:hover {
    background-color: #9f92e7;
}

.submit-btn:active {
    transform: translatey(1px)
}
